.button-custom-class {
  width: 200px;
  height: 200px;
  display: inline-block;
  padding: 20px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}